/* Reset CSS */
body{
    background-color: #f8f8fc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* Reset CSS */
body{
    background-color: #f8f8fc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* Start heading */
.header{
    height: 70px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
}
.search-product{
    line-height: 70px;
}
.input-header{
    height: 46px;
    border: 1px solid #d9d9d9;
    border-radius: 23px;
    padding-left: 20px;
    outline: 0;
}
.btn-search{
    height: 46px;
    width: 46px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    background-color: #ff7e00;
    color: #fff;
    cursor: pointer;
}
.img-header{
    height: 70px;
}
.group-icon-header{
    display: inherit;
    line-height: 70px;
    font-size: 20px;
}
.icon-header{
    color:#ff7e00;
}
.b-header-hover:hover{
    color: #ff7e00;
    cursor: pointer;
}
.login-header, .cart-header, .hotline-header{
    margin-right: 20px;
}
.to_dangnhap, .to-build{
    text-decoration: none;
    color: #000;
}
.header-menu{
    background-color: #ff7e00;
    min-width: 1200px;
    height: 76px;
    padding: 12px;
    margin-top: 70px;
}
.menu-list{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.img-icon-lk{
    width: 26px;
    height: 26px;
}
.item-list{
    text-align: center;
    color: #fff;
}
.item-link{
    text-decoration: none;
    color: #000;
}

/* End heading */

/* Start footer */
.footer{
    background-color: #fff;
    margin-top: 60px;
}
.footer-top{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #000;
}
.footer-bottom{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 60px;
}
.fb-desc{
    line-height: 24px;
}
.footer-add-heading{
    padding-bottom: 8px;
}
.footer-desc{
    line-height: 24px;
}
.footer-heading{
    padding-bottom: 6px;
}
.news{
    padding-top: 20px;
    max-width: 1400px;
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    padding-bottom: 20px;
}
.img-new{
    width: 100%;
    height: 165px;

}
.start-head{
    font-size: 24px;
    font-weight: 700;
}
.more-news{
    font-size: 18px;
    color: #1435c3;
}
.more-news:hover{
    cursor: pointer;
    color: #ff7e00;
}
.news-heading{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 0 20px;
}
.new-list{
    display: flex;
    list-style: none;
    justify-content: center;
}
.new-desc{
    padding: 10px;
    font-weight: 700;
}
.new-item{
    width: 18%;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    border-radius: 15px;
    margin: 0 16px;
    cursor: pointer;
}

/* End footer */

/* Start product page */

.current-page__type, .current-page__type__product{
    max-width: 1400px;
    padding: 12px;
    background-color: #f8f8fc;
    margin: auto;
}
.box-brand{
    display: flex;
}
.item-brand:hover, .price-item:hover{
    background-color: #ff7e00;
    color: #fff;
    cursor: pointer;
}
.arrange-type:hover{
    color: #ff7e00;
    cursor: pointer;
}
.item-brand{
    padding: 10px;
    border-radius: 6px;
    min-height: 40px;
    font-size: 20px;
    border: 1px solid #e0e0e0;
    min-width: 140px;
    text-align: center;
    margin-right: 20px;
    background-color: #fff;
}
.category-page{
    margin: 20px auto;
    max-width: 1400px;
    /* display: none; */
}
.box-filter{
    background-color: #fff;
    max-width: 1400px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 16px;
    box-shadow: 1px 1px 1px 1px #888888;
    /* display: none; */
}
.price-item{
    border-radius: 20px;
    padding: 6px 12px;
    background-color: #fff;
    margin: 8px;
    font-size: 20px;
    border: 1px solid #e0e0e0;
}
.box-price, .box-crieta, .box-arrange{
    display: flex;
    padding: 10px;
}
.heading-item{
    margin: 8px;
    padding-right: 20px;
}
.arrange-type{
    color: #1435c3;
    font-size: 22px;
    padding: 6px 20px;
}
.box-category-list{
    max-width: 1400px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product{
    width: 23%;
    margin: 8px;
    background-color: #fff;
    border-radius: 15px;
    padding: 14px;
}
.product-img{
    width: 100%;
}
.product-name{
    font-size: 20px;
    margin-bottom: 6px;
}
.current-price-product{
    color: #1435c3;
    font-weight: bold;
    font-size: 20px;
}
.old-price-product{
    text-decoration: line-through;
    color: #8d8d8d;
}
.percent-market{
    margin-left: 4px;
    color: #1435c3;
}
.paging-category{
    display: flex;
    max-width: 1400px;
    margin: 10px auto;
    justify-content: center;
    /* display: none; */
}
.number-next-page{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #9f9f9f;
    margin: 0 6px;
    color: #fff;
    cursor: pointer;
}
.current-number-page{
    background-color: #ff7e00;
}
.info-desc-product{
    background-color: #fff;
    max-width: 1400px;
    margin: 10px auto;
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 12px;
    /* display: none; */
}
.what-is-product{
    padding: 20px 0;
}
.info-product-img{
    display: inline-block;
}
.include-img-info{
    text-align: center;
    margin: 20px 0;
}
.desc-info{
    margin: 16px 0;
}
.mini-acc{
    padding: 20px 0;
}
.status-and-cart{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.add-to-cart{
    background-color: #ccc;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.status{
    color: #78c63b;
}
.sold-out{
    color: red;
}